<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/javascripts/dropzone/css/dropzone.css' />
    <script src="/javascripts/dropzone/dropzone.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/file-upload" class="dropzone"></form>
  </body>
</html>